   /* css to style all the following elements*/
   
   /* css to style all the following elements*/
   
html,
body,
#mapDiv {
 padding: 0;
 margin: 0;
 height: 100%;
}

.esriPopup.dark div.titleButton, 
.esriPopup.dark div.titlePane .title,
.esriPopup.dark div.actionsPane .action {
color: #FF008F;
}
/* Additional customizations */
.esriPopup.dark .esriPopupWrapper {
border: none;
}
.esriPopup .contentPane {
text-align: center;
}
.esriViewPopup .gallery {
margin: 0 auto;
}
/**/
.Ignite {
  width: 176px;
  height: 53px;
  font-family: MANIFESTO;
  font-size: 48px;
  color: #ffffff;
}
/**/
.World-Map {
  width: 1440px;
  height: 998px;
}
/**/
.League-of-Legends {
  margin-top:20%;
  margin-bottom:10%;

}
/**/
.Rectangle-1 {
  width: 1440px;
  height: 1024px;
  background-color: #000000;
}
/**/
.Rectangle-3 {
  width: 1440px;
  height: 150px;
  background-image: linear-gradient(to bottom, #d800ff, #ff008f);
}
/**/
.Rectangle-7 {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: #9013fe;
}
/*avatar image*/
.Soundcloud-800x800 {
  width: 50px;
  height: 50px;
  margin-left:1000%;
  margin-top:40%;
  margin-bottom:5%;
}
/**/
.Close-Copy {
  width: 10px;
  height: 16.6px;
  -webkit-transform: rotate(-270deg);
  transform: rotate(-270deg);
  background-color: #ffffff;
}
/**/
.Mask {
  width: 75px;
  height: 75px;
  background-color: #d8d8d8;
}
.Ignitelogo{
max-width:20%;
margin-top:5%;
margin-left:5%;
margin-bottom:5%;

}

#custom-navbar {
  z-index:2;
  background-color: rgb(255,0,143);
  background-image:linear-gradient(to bottom, #d800ff, #ff008f);
  color: #ffffff;
}


.esriPopup.dark div.titleButton, 
.esriPopup.dark div.titlePane .title,
.esriPopup.dark div.actionsPane .action {
color: #FF008F;
}
/* Additional customizations */
.esriPopup.dark .esriPopupWrapper {
border: none;
}
.esriPopup .contentPane {
text-align: center;
}
.esriViewPopup .gallery {
margin: 0 auto;
}









/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}
.right-addon .glyphicon {
    right: 5px;
    top: 3px;
    font-size: 25px;
}
.right-addon input { padding-right: 30px; }

.thin {
    font-weight: lighter;
    letter-spacing: 2px;
}

.center {
  text-align: center;
}

.white {
  color: #fff;
}

.pink {
    background-color: #FF00F0;
}

.gray-text {
    color:#D8D8D8;
}

.gray {
    background-color: #D8D8D8;
}

.img-circle {
    width: 100px;
    height: 100px;
}

.pad-bottom {
    margin-bottom: 150px;
}


.pad-bottom-small {
    margin-bottom: 30px;
}

.ignite-toggle {
    margin-top: 50px;
    font-size: 1.5em;
    display: inline-block;
    margin-left: 32%;
    /*position: relative;
    margin-left: auto;
    margin-right: auto;
*/    background: transparent !important;
    border: none !important;
    color: white !important;
    text-shadow: none !important;
    /* cursor: pointer;  !important*/
    box-shadow: none !important;
}

.pink-search {
    width: 400px;
    height: 75px;
    border-radius: 10px;
    background-color: #FF00F0;
    color: white;
    font-family: futura;

    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

.bottom-mid {
    width: 500px;
    height: 75px;
    border-radius: 10px;
    background-color: #9013FE;
    color: white;
    font-family: futura;
    position: absolute;
    left: 37.5%;
    top: 75%;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    z-index: 50;
}

.make-dark {
    background-color: #263238;
}

.make-darker {
    background-color: #20272B;
}






